
@{
    ViewData["Title"] = "Create";
}


<h1>Create</h1>
@{
    if (ViewBag.Success != null)
    {
        <p class="alert-success">@(ViewBag.Success)</p>
    }
    else if (ViewBag.Error != null)
    {
        <p class="alert-danger">@(ViewBag.Error)</p>
    }
}

<form action="/Book/Create" method="get">
    <div>
        <label for="title">Title</label>
        <input type="text" id="title" name="title" value="@(ViewBag.BookTitle)" />
    </div>
    <div>
        <label for="publicationDate">Publication Date</label>
        <input type="text" id="publicationDate" name="publicationDate" value="@(ViewBag.PublicationDate)" />
    </div>
    <div>
        <label for="checkedOutDate">Checked Out Date</label>
        <input type="text" id="checkedOutDate" name="checkedOutDate" value="@(ViewBag.CheckedOutDate)" />
    </div>
    <div>
        <select name="author">
            @using (LibraryContext context = new LibraryContext())
            {


                @foreach (Author author in context.Authors)
                {
                    <option value="@(author.Name)">@(author.Name)</option>
                }
            }
        </select>
        </div>
        <button type="submit">Go!</button>
    </form>
