
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
@{
    if (ViewBag.Success != null)
    {
        <p class="alert-success">@(ViewBag.Success)</p>
    }
    else if (ViewBag.Error != null)
    {
        <p class="alert-danger">@(ViewBag.Error)</p>
    }
}

<form action="/Book/Create" method="get">
    <div>
        <label for="title">Title</label>
        <input type="text" id="title" name="title" value="@(ViewBag.BookTitle)" />
    </div>
    <div>
        @* value="@(ViewBag.Author) *@
        <label for="authorID">Author</label>
        <select id="authorID" name="authorID">
            @foreach (Author author in ViewBag.Authors)
            {
                <option value="@(author.ID)">@(author.Name)</option>
            }

        </select>
    </div>
    <div>
        <label for="publicationDate">Publication Date</label>
        <input type="text" id="publicationDate" name="publicationDate" value="@(ViewBag.PublicationDate)" />
    </div>
    <div>
        <label for="checkedOutDate">Checked Out Date</label>
        <input type="text" id="checkedOutDate" name="checkedOutDate" value="@(ViewBag.CheckedOutDate)" />
    </div>
    <button type="submit">Go!</button>
</form>